.video-player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-player-inside {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-content {
  width: 80vw;
  height: 85vh;
}

.player-back-button {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: start;
  padding: 10px 20px;
}
