.search-page {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  max-height: fit-content;

  background-color: rgba(0, 0, 0, 0.925);
  color: white;
  z-index: 99;
  transition: 0.5s all;
}

.search-inside {
  width: 80%;
  margin: 0px 100px;
}

.icon-search-page {
  float: right;
  font-size: 48px;
}

.search-page-content {
  display: flex;
  margin: 0px 100px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.search-page-content input {
  margin: 1rem 0;
  width: 80%;
  background-color: transparent;
  border: 0px;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  outline: none;
  color: white;
  border-bottom: 1px solid white;
  padding: 10px;
  font-weight: 400;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.search-icon {
  position: relative;
  right: 60px;
  z-index: inherit;
  font-size: 64px;
  transition: 0.5s ease-in;
}

.search-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.search-page-value {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.search-page-value::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.search-posters {
  width: 10em;
  margin: 1em;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.search-posters:hover {
  transform: scale(1.2);
  cursor: pointer;
  border: 2px solid rgb(71, 71, 71);
}
